<h1>Cadastrar Novo Vídeo</h1>

<form action="/videos" method="POST">
    <div>
        <label>Título:</label>
        <input type="text" name="titulo" required>
    </div>
    <div>
        <label>Criador:</label>
        <input type="text" name="nomeCriador" required>
    </div>
    <div>
        <label>Descrição:</label>
        <textarea name="descricao"></textarea>
    </div>
    <div>
        <label>Visualizações:</label>
        <input type="number" name="visualizacoes" value="0">
    </div>
    <div>
        <label>Curtidas:</label>
        <input type="number" name="curtidas" value="0">
    </div>
    <div>
        <label>Hashtag Principal:</label>
        <input type="text" name="hashtag">
    </div>
    <div>
        <label>URL do Vídeo:</label>
        <input type="text" name="urlVideo">
    </div>
    <div>
        <label>URL da Thumbnail:</label>
        <input type="text" name="urlThumbnail">
    </div>
    <button type="submit">Cadastrar</button>
</form>
