<h1>Meus Filmes Favoritos</h1>

<ul>
    {{#each lista}}
        <li>
            <strong>Nome:</strong> {{this.nome}} <br>
            <strong>Ano:</strong> {{this.ano}}
        </li>
        <br>
    {{/each}}
</ul>
